.vscode/settings.json
.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
APP/videoToDialogue/哈利波特1：神秘的魔法石BD国英双语中英双字.mkv
APP/videoToDialogue/哈利波特1：神秘的魔法石BD国英双语中英双字.wav
APP/videoToDialogue/deepspeech-0.9.3-models.tflite
APP/videoToDialogue/跟我150天，保证你不看字幕听懂英文剧，第9天.mp4
APP/videoToDialogue/deepspeech-0.9.3-models.pbmm
APP/videoToDialogue/deepspeech-0.9.3-models.scorer
Books/English/Thing Explainer：Complicated Stuff in Simple Words.pdf
Books/代码大全2中文版.pdf
150days_bi/摩登家庭全季台词.pdf
.DS_Store
