.vscode/settings.json
.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
APP/videoToDialogue/deepspeech-0.9.3-models.tflite
APP/videoToDialogue/deepspeech-0.9.3-models.pbmm
APP/videoToDialogue/deepspeech-0.9.3-models.scorer
Books/English/Thing Explainer：Complicated Stuff in Simple Words.pdf
Books/代码大全2中文版.pdf
150days_bi/摩登家庭全季台词.pdf
.DS_Store
*.exe
*.pkg
*.zip
*.node
*.mp4
*.mkv
*.wav

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
APP/getReleaseResults.py
