.vscode/settings.json
.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
APP/videoToDialogue/哈利波特1：神秘的魔法石BD国英双语中英双字.mkv
APP/videoToDialogue/哈利波特1：神秘的魔法石BD国英双语中英双字.wav
