body {
    padding: 20px;
    background-color: white;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    position: relative;
}

#dino {
    width: 20px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 0px;
}

.jumpClass {
    animation: jump 0.3s infinite;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    30% {
        bottom: 100px;
    }

    70% {
        bottom: 100px;
    }
    100% {
        bottom: 0;
    }
}

#block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 450px;
    animation:block 1s linear infinite
}

@keyframes block {
    0% {
        left: 450px;
    }
    100% {
        left: -20px;
    }
}